<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Song</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Add Song</h1>
        <form th:action="@{/songs/add}" th:object="${song}" method="post" class="form-container">
           
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>

            <label for="band">Band:</label>
            <select id="band" th:field="*{band.id}" required>
                <option value="" disabled selected>Select Band</option>
                <option th:each="band : ${bands}" th:value="${band.id}" th:text="${band.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('band.id')}" th:errors="*{band.id}" class="error"></div>

            <button type="submit" class="button">Save</button>
        </form>
        <a href="/songs" class="button back">Back to Songs</a>
    </div>
</body>
</html>

