<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Genre</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Edit Genre</h1>
        <form th:action="@{/genres/update/{id}(id=${genre.id})}" th:object="${genre}" method="post" class="form-container">
            <input type="hidden" th:field="*{id}" />
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            <button type="submit" class="button">Update</button>
        </form>
        <a href="/genres" class="button back">Back to Genres</a>
    </div>
</body>
</html>
