<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Songs</h1>
        <a href="/songs/add" class="button">Add Song</a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Band</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="song : ${songs}">
                    <td th:text="${song.id}"></td>
                    <td th:text="${song.name}"></td>
                    <td th:text="${song.band.name}"></td>
                    <td>
                        <a th:href="@{/songs/edit/{id}(id=${song.id})}" class="button edit">Edit</a>
                        <a th:href="@{/songs/delete/{id}(id=${song.id})}" class="button delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/home" class="button back">Back to Home</a>
    </div>
</body>
</html>
